* {
    margin: 0;
    background-color: black;
    padding: 0;
}
#main {
    width: 850px;
    margin: 1% auto;
    height: 100%;
    color: white;
}
input {
    margin-top: 200px;
    margin-left: 650px;
    width: 600px;
    font-size: 40px;
    height: 50px;
    background-color: white;
}
.numbers, .first_row, .second_row, .third_row {
    display: flex;
   
}
 .numbers {
    margin-left: 12%;
}
.third_row {
    margin-left: 20%;
}
.first_row, .second_row {
    margin-left: 7%;
}
.letter, .number {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 1%;
    font-size: 30px;
    border: 1px solid gray;
    background-color: rgb(85, 85, 85);
}
#caps_lock, #backspace {
    width: 135px;
    height: 50px;
    text-align: center;
    padding-top: 1%;
    font-size: 30px;
    border: 1px solid gray;
    background-color: rgb(85, 85, 85);
}
.big {
    text-transform: uppercase;
}